# -*- mode: conf -*-
# {{ ansible_managed }}

check process {{ redis_service_name }} with pidfile /var/run/{{ redis_service_name }}.pid
   if failed host localhost port {{ redis_port }} protocol redis then alert
